<%= render 'shared/page_title', title: "User: " + @user.username %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 200%>
    <hr/>
  </div>
</div>

<div class = "row">
  <div class="col-md-4 col-md-offset-4 center">
    <h3><em>Games:</em></h3>
    <%= will_paginate @games %>
  </div>
</div>

<% @games.each do |game| %>
  <div class="row">
    <div class="col-lg-6 well col-lg-offset-3">
      <h4><%= link_to game.name, game_path(game) %></h4>
      <p><%= game.summary %></p>
      <p>
        <span class='quiet'><small>created: <%= time_ago_in_words(game.created_at) %>, </small></span>
        <span class='quiet'><small>updated: <%= time_ago_in_words(game.updated_at) %></small></span>
      </p>
      <div class="pull-right">
        <%= link_to like_game_path(game, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= game.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_game_path(game, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= game.thumbs_down_total %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>